@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

.navbar {
    position: absolute;
    width: 100%;
}

.navbar-brand, .nav-item {
    font-family: 'ZCOOL KuaiLe', cursive;
    /*font-family: 'Zhi Mang Xing', cursive;*/
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
}

#navbar-logo {
    width: 1.9em;
    margin-right: 0.8em;
    margin-top: 0;
}
