/*======== start navbar ========*/
.navbar {
    position: relative;
}

/*======== end navbar ========*/

.container-result {
    width: 80vw;
    margin-left: 10vw;
}

/*======== start translate-bar ========*/
#translate-bar {
    margin-top: 2em;
    margin-bottom: 2em;
}

#input-text {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.25em;
    font-family: 'Cabin', sans-serif, 'Noto Sans SC', serif;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0.5em 0 0 0.5em;
}

#input-text:focus {
    border-color: #343A40;
    border-width: 0.15rem;
    webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

#live-translate-check {
    position: absolute;
    left: -9999px;
}

#live-translate-check-label {
    border-radius: 0;
    border-width: 0.15em;
    border-color: #343a40;
    color: #343a40;
}

#live-translate-check:checked + #live-translate-check-label {
    border-color: #343A40;
    background-color: #343A40;
    color: white;

}

#translate-button, #live-translate-check-label {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    width: 7em;
    height: 3rem;
    line-height: 2rem;
    border-width: 0.15rem;
    font-size: 1.05em;
    font-family: 'Noto Sans SC', serif;
    font-weight: 500;
}


#live-translate-check-label:hover, #live-translate-check:focus + #live-translate-check-label {
    cursor: pointer;
}


#translate-button {
    border-radius: 0 0.5em 0.5em 0;
}

#translate-button:focus {
    webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

/*======== end translate-bar ========*/

/*======== start translate-result ========*/
.card-link {
    font-size: 1.2rem;
    font-family: 'Noto sans SC', serif;
    font-weight: 700;
}

#translate-result-card {
    padding-top: 3vh;
}


#translate-result, #pron-div {
    width: 65%;
}

#picture-display-div {
    width: 35%;
    float: right;
    background-color: transparent;
}

#translate-result, #picture-display-div, #pron-div {
    display: inline-block;
}


.pron-button-label {
    font-size: 1.2em;
    margin: 0 auto;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
}


.pron-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    color: black;
    outline: none;
    font-style: italic;
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1em;
    font-family: 'Cabin',sans-serif;
    font-weight: 500;
}

.pron-button:focus {
    outline: 0;
    text-decoration: none;
}

.pron-button:hover {
    outline: 0;
    text-decoration: none;
}

.pron-button, .pron-button-label {
    margin-bottom: 1.2rem;
}


#ph_en + .pron-button-label {
    margin-left: 2.5em;
}

.part {
    font-style: italic;
    font-size: 1.3rem;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
}

dd {
    margin: 0 auto;
    margin-left: 2em;
    font-family: 'Noto Serif SC', serif;
    font-weight: 500;
    font-size: 1.15rem;
}

.mean {
    font-family: 'Noto Serif SC', serif;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.5rem;
}

.mean + .part {
    margin-top: 0.8em;
}


.exchange-td {
    font-size: 1.2em;
    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 400;
}

.exchange-th {
    font-size: 1.1rem;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
}

dt {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.trans{
    font-style: italic;
}

.trans + .orig {
    margin-top: 0.8em;
}
