
#translate-button-row, #translate-text-result-row {
    position: relative;
}

#translate-text-span, #translate-result-card {
    margin-top: 3vh;
    display: inline-block;
    width: 100%;
    /*vertical-align: top;*/
}

#translate-result-card {
    padding-top: 0;
}


#translate-result {
    min-width: 100%;
}

#translate-result-div h1 {
    font-size: 1.25em;
}


#translate_text {
    /*resize: none;*/
    /*border-radius: 0.5em;*/
    font-size: 1em;
    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 400;
}

#translate-result-div, #pron-div {
    width: 65%;
}

#translate-result-div, #picture-display-div, #pron-div {
    display: inline-block;
}

.card-link {
    font-size: 1.2em;
    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 400;
}


#picture-display-div {
    width: 35%;
    /*position: absolute;*/
    float: right;
    background-color: white;
}

.pron-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    color: black;
    outline: none;
    font-style: italic;
}


.pron-button:focus {
    outline: 0;
    text-decoration: none;
}

.pron-button:hover {
    outline: 0;
    text-decoration: none;
}

.part {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

.mean {
    font-family: 'Noto Serif SC', serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-left: 1em;
}

.mean + .part {
    margin-top: 1.3em;
}


#live-translate-check-label, #live-translate-check {
    font-size: 1.2em;
    vertical-align: sub;
}

/*#translate-button {*/
/*    vertical-align: sub;*/
/*}*/

.card-link {
    font-family: 'Noto Serif SC', serif;
    font-weight: 800;
    font-size: 1.2em;
}


.btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    font-size: 1em;
    border-radius: 0.5rem;
}

#live-translate-check-label {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
}


.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 0.5rem;
}

.toggle.ios .toggle-handle {
    border-radius: 0.5rem;
}


#pron-div {
    text-align: justify;
}

.pron-button {
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1em;
    /*background-color: red;*/
}


.pron-button-label {
    font-size: 1.1em;
    margin: 0 auto;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
}

.pron-button, .pron-button-label {
    margin-bottom: 2em;
}


#ph_en + .pron-button-label {
    margin-left: 2em;
}

.pron-div + .part {
    margin-top: 10em;
}


.exchange-td {
    font-size: 1.1em;
    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 500;
}

.exchange-th {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 600;
}


/*=======*/

#live-translate-check {
    position: absolute;
    left: -9999px;
}

#toggle1-label {
    border-radius: 0;
    border-width: 0.15em;
    border-color: #343a40;
    color: #343a40;
}

#live-translate-check:checked + #toggle1-label {
    border-color: #343A40;
    background-color: #343A40;
    color: white;
}

#translate-button, #toggle1-label {
    margin: auto;
    /*margin-top: 2em;*/
    vertical-align: middle;
    display: inline-block;
    width: 7em;
    height: 3rem;
    line-height: 2rem;
    border-width: 0.15rem;


}


#toggle1-label:hover, #live-translate-check:focus + #toggle1-label {
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .6);*/
    cursor: pointer;
}


#translate-button {
    border-radius: 0 0.5em 0.5em 0;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 1; /*中间状态 透明度为0*/
    }
    80% {
        opacity: 1; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 0; /*结尾状态 透明度为1*/
    }
}

.Flex-fadeIn {
    -webkit-animation-name: fade; /*动画名称*/
    -webkit-animation-duration: 2s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数 infinite 为无限 否则就是具体次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: both;
}

#display-live-status {
    text-align: center;
    font-size: 3rem;
}

.form-control {
    height: 3rem;
    line-height: 3rem;
}

.container {
    width: 80vw;
}


.form-control:focus {
    border-color: #343A40;
    border-width: 0.15rem;
    border-right: 0 auto;
    webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}


#bar {
    margin-top: 2em;
    margin-bottom: 2em;
}

dd {
    font-style: italic;
    margin-left: 2em;
    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 400;
}

dt {

    font-family: 'Cabin', sans-serif, 'Noto Serif SC', serif;
    font-weight: 700;
}


.container2{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
