{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Happy Dictionary</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/base.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block scriptsCode %}
    {% endblock scriptsCode %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{#    <div class="container">#}
        <a class="navbar-brand" href="/">嗨皮词典</a>

        <!-- 这个 div 加上 justify-content-end 样式即可 -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav" id="headerNav">
                <li class="nav-item" id="navMainPage"><a class="nav-link" href="/"> 主页 </a></li>
                <li class="nav-item" id="navAboutUs"><a class="nav-link" href="#copyright"> 关于 </a></li>
                <li class="nav-item" id="navContactUs"><a class="nav-link" href="/essay"> 联系我们 </a></li>
            </ul>
        </div>
{#    </div>#}
</nav>
{% block content %}
{% endblock content %}
<hr>
<footer>
    <divd="copyrightdiv">
        <p id="copyright">Copyright &copy; 2021 ZPP</p>
    </div>
</footer>
</body>
</html>
