{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script>
    (function(d) {
      var config = {
        kitId: 'qwt0aru',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
   </script>
{% endblock css %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-7 col-centered">
                <form action="/translate" method="GET">
                    <label for="input-text">
                        <img src="{{ logo }}" alt="logo" id="logo"
                             class="img rounded-circle center-block" height="250em" width="250em">
                        <br/>
                        <h1 class="text-center" id="slogan">嗨皮词典</h1>
                    </label>
                    <br/>
                    {{ form }}
                </form>
                <p class="attention-text">*仅支持英文单词输入</p>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <footer>
        <div id="copyrightdiv">
            <p id="copyright">Copyright &copy; 2021 ZPP</p>
        </div>
    </footer> -->
{% endblock content %}

{% block javascript %}
    <script src="/static/js/index.js"></script>
{% endblock javascript %}
