{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="col-7 col-centered">
                <form action="/translate/" method="GET">
                    <label for="translate_text">
                        <img src="{{ logo }}" alt="logo"
                             class="img rounded-circle center-block" height="250em" width="250em">
                        <br/>
                        <h1 class="text-center" id="slogan">嗨皮词典</h1>
                    </label>
                    <br/>
                    {{ form }}
                </form>
                <p class="attention_text">*仅支持英文单词输入</p>
            </div>
        </div>
    </div>
    <hr>
<footer>
    <div id="copyrightdiv">
        <p id="copyright">Copyright &copy; 2021 ZPP</p>
    </div>
</footer>
{% endblock content %}
