{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link href='http://cdn.repository.webfont.com/webfonts/nomal/143033/46158/601125b8f629d8f6e8b76370.css' rel='stylesheet' type='text/css' />
{% endblock css %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-7 col-centered">
                <form action="/translate" method="GET">
                    <label for="input-text">
                        <img src="{{ logo }}" alt="logo" id="logo"
                             class="img rounded-circle center-block" height="250em" width="250em">
                        <br/>
                        <h1 class="text-center css25e8249f4c22eb9" id="slogan">嗨皮词典</h1>
                    </label>
                    <br/>
                    {{ form }}
                </form>
                <p class="attention-text">*仅支持英文单词输入</p>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <footer>
        <div id="copyrightdiv">
            <p id="copyright">Copyright &copy; 2021 ZPP</p>
        </div>
    </footer> -->
{% endblock content %}

{% block javascript %}
    <script src="/static/js/index.js"></script>
{% endblock javascript %}
