@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

#input_text {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2em;
}

#translate_text {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 1.25em;
}

#slogan {
    font-family: 'Ma Shan Zheng', cursive;
}

/*web background*/
.container {
    display: table;
    height: 100%;
}

.row {
    display: table-cell;
    vertical-align: middle;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
}
