{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row row-centered">
    <div class="well col-md-6 col-centered">
      <div class="divs">
        <div class="col-3 imgs"><img src="{{ logo }}" alt="" style="vertical-align:middle" class = "img-fluid rounded-circle"></div>
        <div class="col-8 infos"><center><h1 style="font-family:幼圆">憨批词典</h1></center></div>
      </div><br/><br/>
      <form>
        {{ form }}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
